body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body,
#root,
.page-container {
    overflow: hidden !important;
    width: 100vw;
    height: 100vh;
    background-color: #002e2e;
    background: url('https://jnjpoc.blob.core.windows.net/webassets/BKGD_copy.jpg');
    background-size: cover !important;
    ;
    background-repeat: no-repeat !important;
    ;
}

iframe {
    border-style: none !important;
}

.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#content {
    height: 960px;
    width: 1920px !important;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

#root> {
    height: 960px !important;
}

.content-container {
    height: 100vh;
    width: 100vw;
    overflow: visible;
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    resize: both;
}

.background {
    position: absolute;
    left: 48px;
    top: 63px;
}

.report {
    position: absolute;
    top: 0;
    right: 30px;
    z-index: -1;
}

.show {
    z-index: 1;
    display: block;
}

* {
    user-select: none !important;
}

.ms-Slider {
    flex: 1;
}

@media (max-width: 900px) {
    input,
    input:before,
    input:after {
        -webkit-user-select: initial !important;
        -khtml-user-select: initial !important;
        -moz-user-select: initial !important;
        -ms-user-select: initial !important;
        user-select: initial !important;
    }
}

.react-tabs,
.react-tabs__tab-list {
    border: none !important;
}

.react-tabs h2 {
    color: white !important;
}

.react-tabs h3 {
    color: #00959f !important;
}

.react-tabs__tab {
    background: #001826;
    color: white;
    margin-left: 5px;
    padding: 15px 30px !important;
    border: none !important;
    border-radius: none !important;
}

.react-tabs__tab--selected {
    background-color: #3073b9 !important;
    color: white !important;
    border: none !important;
    border-radius: none !important;
}