.plane {
  left: 467px;
  top: 54px;
  z-index: 9;
  cursor: pointer;
}

.animatedIcon {
  opacity: 0;
  z-index: 11;
  transform: scale(0.8);
  transition: transform 0.5s ease-out;
}

.animatedIcon:hover {
  opacity: 1;
  transform: scale(1);
}

.boat {
  left: 1398px;
  top: 252px;
  z-index: 9;
  cursor: pointer;
}

.pills {
  left: 625px;
  top: 280px;
  z-index: 10;
}

.operation {
  left: 1275px;
  top: 440px;
  z-index: 10;
}

.ambulance {
  left: 1450px;
  top: 540px;
  z-index: 10;
}

.kidney {
  left: 1630px;
  top: 360px;
  z-index: 10;
}

.lab {
  left: 210px;
  top: 410px;
  z-index: 10;
}

.consulting1 {
  left: 340px;
  top: 540px;
  z-index: 10;
}

.consulting2 {
  left: 895px;
  top: 105px;
  z-index: 10;
}

.scanner {
  left: 460px;
  top: 30px;
  z-index: 10;
}

.heart2 {
  left: 1080px;
  top: 470px;
  z-index: 40;
}




.f1 {
  left: 685px;
  top: 430px;
  z-index: 10;
}

.car {
  left: 762px;
  top: 620px;
  z-index: 10;
}

.truck {
  left: 1281px;
  top: 888px;
  z-index: 10;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  top: 63px;
  left: 48px;
  height: calc(100vh - 63px) !important;
  width: calc(100vw - 48px) !important;
}

.showPopupOn {
  position: absolute;
  width: 75px;
  height: 55px;
  cursor: pointer;
  z-index: 31;
  top: 285px;
  left: 885px;
}

.showPopupOn2 {
  position: absolute;
  width: 75px;
  height: 55px;
  cursor: pointer;
  z-index: 31;
  top: 220px;
  left: 885px;
}

.showPopupOn3 {
  position: absolute;
  width: 75px;
  height: 55px;
  cursor: pointer;
  z-index: 31;
  top: 350px;
  left: 885px;
}

.covidSearchLink {
  position: absolute;
  width: 75px;
  height: 50px;
  cursor: pointer;
  z-index: 31;
  top: 342px;
  left: 894px;
}



.patientOverviewLink {
  position: absolute;
  width: 300px;
  height: 300px;
  cursor: pointer;
  z-index: 31;
  top: 240px;
  left: 1200px;
}



.hospitalOverviewLink {
  position: absolute;
  width: 34px;
  height: 34px;
  cursor: pointer;
  z-index: 31;
  bottom: 50px;
  left: 1800px;
}

.hospitalOverviewLink2 {
  position: absolute;
  width: 34px;
  height: 34px;
  cursor: pointer;
  z-index: 31;
  top: 650px;
  left: 1800px;
}
.hospitalOverviewLink23 {
  position: absolute;
  transform: scale(0.7);
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 31;
  top: 628px;
  left: 450px;
  z-index: 200000;
}

.hospitalOverviewLink33 {
  position: absolute;
  width: 34px;
  height: 34px;
  cursor: pointer;
  z-index: 31;
  bottom: 240px;
  left: 590px;
  transform: scale(0.8);
}

.hospitalOverviewLink333 {
  position: absolute;
  transform: scale(0.7);
  width: 60px;
  height: 60px;
  z-index: 200000;
  cursor: pointer;
  top: 210px;
  left: 400px;
}

.hospitalOverviewLink3 {
  position: absolute;
  width: 34px;
  height: 34px;
  cursor: pointer;
  z-index: 310;
  top: 780px;
  left: 450px;
}
.hospitalOverviewLink4 {
  position: absolute;
  cursor: pointer;
  top: 175px;
  left: 1230px;
  transform: scale(0.7);
   width: 60px;
   height: 60px;
   z-index: 200000;
}

.hospitalOverviewLink44 {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: scale(0.7);
  cursor: pointer;
  z-index: 200000;
  top: 180px;
  right: 150px;
}



.powerapptofinalarrow {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: scale(0.7);
  cursor: pointer;
  z-index: 200000;
  top: 180px;
  right: 150px;
}