.leftCover {
    width: 50%;
    height: 100%;
    position: absolute;
    right: calc(50% + 425px);
    background-color: #002e2e !important;
    z-index: 200;
}

.rightCover {
    width: 50%;
    height: 100%;
    position: absolute;
    left: calc(50% + 425px);
    background-color: #002e2e !important;
    z-index: 200;
}

.iframe {
    position: absolute;
    top: 25%;
    left: 25%;
    /* height: 50%; */
    /* width: 50%; */
    background-color: #002e2e !important;
    border: none;
}

.title {
    position: absolute;
    top: 100px;
    left: 70px;
    z-index: 300;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
}

.powerappbg {
    overflow: hidden !important;
    width: 100vw;
    height: 100vh;
    background-color: red !important;
    background: url('https://jnjpoc.blob.core.windows.net/webassets/BKGD_POWERAPP.jpg') !important;
    background-size: cover !important;
    ;
    background-repeat: no-repeat !important;
    ;
}